// BassCSS Variables
$space-1: 5px;
$space-2: 15px;
$space-3: 30px;
$space-4: 50px;
$breakpoint-sm: '(min-width: 768px)';
$breakpoint-md: '(min-width: 992px)';
$breakpoint-lg: '(min-width: 1200px)';

// Colours

$primary: red;
$secondary: blue;