@import "./bower_components/normalize-css/normalize";

@import "variables";

@import "./bower_components/basscss-sass/scss/basscss";

@import "base/**/*.scss";
@import "components/**/*.scss";

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}